[{:acc "Assets:Bank:Current", :date #time/date "2020-01-01", :dct :open}
 {:acc "Expenses:Donations", :date #time/date "2023-04-10", :dct :open}
 {:date #time/date "2023-04-10",
  :dct :txn,
  :flag "*",
  :narration "WIKIMEDIA ;",
  :payee "WIKIMEDIA",
  :postings [{:acc "Assets:Bank:Current", :cur "NZD", :units -10.00M}
             {:acc "Expenses:Donations", :cur "NZD", :units 10.00M}]}
 {:acc "Expenses:Donations:Other", :date #time/date "2023-04-12", :dct :open}
 {:date #time/date "2023-04-12",
  :dct :txn,
  :flag "*",
  :payee "Tear Fund",
  :postings [{:acc "Assets:Bank:Current", :cur "NZD", :units -20.00M}
             {:acc "Expenses:Donations:Other", :cur "NZD", :units 20.00M}]}]
